
main{
    
}
/* main sections */
header{

}

main{
    

}

footer{

}



/* others */
#player-Turn{
    
}

#player{

}

#playground{  
    max-width: 650px;
    max-height: 650px;
    border: 10px solid black;
}
#row1 {
    
}

#row2{
    border-top:5px solid black;
}
#row3{
    border-top:5px solid black;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    margin: 5px;

}

.x {
    text-align: center;
    font-size: 200px;
    line-height: 200px;
    color: blue;
}

.o{
    text-align: center;
    font-size: 200px;
    line-height: 200px;
    color: red;
}